<section class="spread-center py-6">
    <section class="item is-one-fourth">
        <div class="white rounded-1 m-3 p-3">
            <img src="/images/patty.svg">
            <img src="/images/patty.svg">
            <div class="content-wrapper text-center">
                <div class="l">Patty</div>
                <p class="subtitle">A simple, responsive, and lightweight CSS framework.</p>
            </div>
        </div>
    </section>
    <section class="item is-one-fourth text-right">
        <div class="white rounded-1 m-3 p-3">
            <img src="/images/patty.svg">
            <img src="/images/patty.svg">
            <div class="content-wrapper text-center">
                <div class="l">Patty</div>
                <p class="subtitle">A simple, responsive, and lightweight CSS framework.</p>
            </div>
        </div>
    </section>
    <section class="item is-one-fourth">
        <div class="white rounded-1 m-3 p-3 text-center">
            <img src="/images/patty.svg"> 
            <div class="content-wrapper text-left">
                <div class="l">Patty</div>
                <p class="subtitle">A simple, responsive, and lightweight CSS framework.</p>
            </div>
        </div>
    </section>
    <section class="item is-one-fourth">
        <div class="white rounded-1 m-3 p-3">
            <img src="/images/patty.svg">
            <img src="/images/patty.svg">
            <img src="/images/patty.svg">
            <div class="content-wrapper text-justified">
                <div class="l">Patty</div>
                <p class="subtitle">A simple, responsive, and lightweight CSS framework.</p>
            </div>
        </div>
    </section>
</section>