<section class="spread">
    <div class="is-half is-fullsize-mobile"> 
        <div class="white py-7 inner-ml-3">
            <h1 class=""> Data to enrich <br> your online business</h1>
            <h2 class="subtitle-2 mt-4 mb-4"> Unlimited API calls. Lossless data. Integrations galore.</h2>
            <section class="spread-left inner-fit inner-m-1 inner-p-3 inner-rounded-1">
                    <button class="button l is-outlined "> Get Started </button>
                    <button class="button l black"> Live Demo</button>
            </section>
        </div>
    </div>
    <div class="is-half is-fullsize-mobile black"></div>
</section>