<section class="spread">
    <div class="is-full brighten-1 py-7"> 
        <div class="text-center">
            <h1 class=""> Data to enrich your online business</h1>
            <h2 class="subtitle-2 mt-0 mb-4"> Unlimited API calls. Lossless data. Integrations galore.</h2>
            <section class="spread-center inner-is-fit inner-m-1 inner-p-3 inner-rounded-1">
                    <button class="button l white "> Get Started </button>
                    <button class="button l darken-7"> Live Demo</button>
            </section>
        </div>
    </div>
</section>