/* Stick to Top  */

.sticky {
    position: sticky;
    top:0;
}

/* Fit */

.is-fit {
    max-width: fit-content !important;
    flex: none !important;
}
.is-fit-x {
    max-width: fit-content !important;
}
.is-fit-y {
   flex: none !important;
}

/*Cascade Fit*/

.inner-fit > * {
    max-width: fit-content !important;
    flex: none !important;
}
.inner-fit-x > * {
    max-width: fit-content !important;
}
.inner-fit-y > * {
    flex: none !important;
}
/* Spread and Stack item alignment */

.inner-pinned-center {
    align-items: center;
}
.inner-pinned-top {
    align-items: flex-start;
}
.inner-pinned-bottom {
    align-items: flex-end;
}
.inner-stretch {
    align-items: stretch;
}
.inner-pinned-baseline {
    align-items: baseline;
}

/* Round the Object  */

.rounded-1 {
    border-radius: 5px;
}
.rounded-2 {
    border-radius: 10px;
}
.rounded-3 {
    border-radius: 15px;
}
.rounded-4 {
    border-radius: 20px;
}
.rounded-5 {
    border-radius: 25px;
}
.rounded-6 {
    border-radius: 30px;
}
.rounded-7 {
    border-radius: 35px;
}
.rounded-8 {
    border-radius: 100%;
}

/* Cascade Inner Roundness */
.inner-rounded-1 > * {
    border-radius: 5px;
}
.inner-rounded-2 > * {
    border-radius: 10px;
}
.inner-rounded-3 > * {
    border-radius: 15px;
}
.inner-rounded-4 > * {
    border-radius: 20px;
}
.inner-rounded-5 > * {
    border-radius: 25px;
}
.inner-rounded-6 > * {
    border-radius: 30px;
}
.inner-rounded-7 > * {
    border-radius: 35px;
}


/* Outline the Object */

.is-outlined {
    border: 1px solid currentColor;
}
.is-outlined-black {
    border: 1px solid #000;
}
.is-outlined-white {
    border: 1px solid #fff;
}
.inner-outlined > * {
    border: 1px solid currentColor;
}
.inner-outlined-black > * {
    border: 1px solid #000;
}
.inner-outlined-white > * {
    border: 1px solid #fff;
}

/* Device Settings */

/* Mobile */

@media screen and (max-width: 768px) {
    .is-hidden-mobile {
        display: none;
    }
    .is-invisible-mobile {
        visibility: hidden;
    }
    .is-fullsize-mobile {
        flex-basis: 100%;
        flex-grow: 1;
    }
    .inner-fullsize-mobile > * {
        flex-basis: 100%;
        flex-grow: 1;
    }

}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .is-hidden-tablet {
        display: none;
    }
    .is-invisible-tablet {
        visibility: hidden;
    }
    .is-fullsize-tablet {
        flex-grow: 1;
    }
    .inner-fullsize-tablet > * {
        flex-basis: 100%;
        flex-grow: 1;
    }
}

/* Desktop */

@media screen and (min-width: 1024px) {
    .is-hidden-desktop {
        display: none;
    }
    .is-invisible-desktop {
        visibility: hidden;
    }
    .is-fullsize-desktop {
        flex-grow: 1;
    }
    .inner-fullsize-desktop > * {
        flex-basis: 100%;
        flex-grow: 1;
    }
}

/* Large Desktop */

@media screen and (min-width: 1280px) {
    .is-hidden-large-desktop {
        display: none;
    }
    .is-invisible-large-desktop {
        visibility: hidden;
    }
    .is-fullsize-large-desktop {
        flex-grow: 1;
    }
    .inner-fullsize-large-desktop > * {
        flex-basis: 100%;
        flex-grow: 1;
    }
}

/* Miscellaneous */

.wrapless {
    white-space: nowrap;
}


/* Pattern */

.display-pattern {
    background: url(/images/patty.svg) repeat;

}
.display-pattern2 {
    background: url(/images/patty2.svg);

}

/* Z Index */
 
.level-top {
    z-index: 9999;
}
.level-bottom {
    z-index: -9999;
}

/* Ghost & Ghouls for using spreads and stacks as color blocks*/

.ghouls-1 > * {
    max-width: 10px;
    max-height: 10px;
    height: 10px;
}
.ghouls-2 > * {
    max-width: 20px;
    max-height: 20px;
    height: 20px;
}
.ghouls-3 > * {
    max-width: 30px;
    max-height: 30px;
    height: 30px;
}
.ghouls-4 > * {
    max-width: 40px;
    max-height: 40px;
    height: 40px;
}
.ghouls-5 > * {
    max-width: 50px;
    max-height: 50px;
    height: 50px;
}
.ghouls-6 > * {
    max-width: 100px;
    max-height: 100px;
    height: 100px;
}
.ghouls-7 > * {
    max-width: 200px;
    max-height: 200px;
    height: 200px;
}

.ghost-1 {
    height: 1px;
}
.ghost-2 {
    height: 5px;
}
.ghost-3 {
    height: 50px;
}
.ghost-4 {
    height: 100px;
}