.sticky {
    position: sticky;
    top:0;
}


.listless {
    list-style: none;
    margin: 0;
}

.shrinkless {
    flex-shrink: 0;
}

.inner-shrinkless > * {
    flex-shrink: 0;
}

.inner-flexless > * {
    flex: 0;
}


/* Round the shape */

.rounded {
    border-radius: 5px;
}

.rounded-2 {
    border-radius: 10px;
}

.rounded-3 {
    border-radius: 15px;
}

.rounded-4 {
    border-radius: 20px;
}

.rounded-5 {
    border-radius: 25px;
}

.rounded-6 {
    border-radius: 30px;
}

.rounded-7 {
    border-radius: 35px;
}


/* Outlines */

.is-outlined {
    border: 1px solid currentColor;
}

.is-outlined-black {
    border: 1px solid #000;
}

.is-outlined-white {
    border: 1px solid #fff;
}

/* Set child item position to start, center, or end of a stack or spread */

.reverse {
    flex-direction: row-reverse;
}

/* Remove flex from buttons, etc  */

.flexless {
    flex: none;
}

/* Hide */


@media screen and (max-width: 768px) {
    .is-hidden-mobile {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .is-hidden-tablet {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .is-hidden-desktop {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .is-hidden-widescreen {
        display: none;
    }
}

/* Invisiblitiy */

@media screen and (max-width: 768px) {
    .is-invisible-mobile {
        visibility: hidden;
    }
}

@media screen and (min-width: 769px) {
    .is-invisible-tablet {
        visibility: hidden;
    }
}

@media screen and (min-width: 1024px) {
    .is-invisible-desktop {
        visibility: hidden;
    }
}

@media screen and (min-width: 1280px) {
    .is-invisible-widescreen {
        visibility: hidden;
    }
}

/* Size by Device  */

@media screen and (max-width: 768px) {
    .is-fullsize-mobile {
        flex-basis: 100%;
        flex-grow: 1;
    }
}

@media screen and (min-width: 769px) {
    .is-fullsize-tablet {
        flex-basis: 100%;
        flex-grow: 1;
    }
}

@media screen and (min-width: 1024px) {
    .is-fullsize-desktop {
        flex-basis: 100%;
        flex-grow: 1;
    }
}

@media screen and (min-width: 1280px) {
    .is-fullsize-widescreen {
        flex-basis: 100%;
        flex-grow: 1;
    }
}

/* Pattern */

.display-pattern {
    background: url(/images/patty.svg) repeat;

}

.display-pattern2 {
    background: url(/images/patty2.svg);

}

/* Ghost for using spreads and stacks as color blocks*/

.ghost-1 {
    height: 1px;
}

.ghost-2 {
    height: 5px;
}

.ghost-3 {
    height: 10px;
}

.ghost-4 {
    height: 15px;
}

/* Shadows */

.shadow-sunrise-1 {
    box-shadow: 10px 5px 5px currentColor;
}

.shadow-sunrise-2 {
    box-shadow: 10px 10px 5px currentColor;
}

.shadow-sunrise-3 {
    box-shadow: 10px 15px 5px currentColor;
}

.shadow-sunset-1 {
    box-shadow: -10px 5px 5px currentColor;
}

.shadow-sunset-2 {
    box-shadow: -10px 10px 5px currentColor;
}

.shadow-sunset-3 {
    box-shadow: -10px 15px 5px currentColor;
}

.shadow-noon-1 {
    box-shadow: 0px 5px 5px currentColor;
}

.shadow-noon-2 {
    box-shadow: 0px 10px 5px currentColor;
}

.shadow-noon-3 {
    box-shadow: 0px 15px 5px currentColor;
}

.shadow-inner-1 {
    box-shadow: inset 0px 0px 5px #000;
}

.shadow-inner-2 {
    box-shadow: inset 0px 0px 10px #000;
}

.shadow-inner-3 {
    box-shadow: inset 0px 0px 15px #000;
}




.highlight-sunrise-1 {
    box-shadow: inset  5px 0px 5px currentColor;
}

.highlight-sunrise-2 {
    box-shadow: inset  10px 0px 5px currentColor;
}

.highlight-sunrise-3 {
    box-shadow: inset  15px 0px 5px currentColor;
}

.highlight-noon-1 {
    box-shadow: inset  0px 0px 5px currentColor;
}

.highlight-noon-2 {
    box-shadow: inset  0px 0px 10px currentColor;
}

.highlight-noon-3 {
    box-shadow: inset  0px 0px 15px currentColor;
}

.highlight-sunset-1 {
    box-shadow: inset  -5px 10px 10px currentColor;
}

.highlight-sunset-2 {
    box-shadow: inset  -10px 5px 10px currentColor;
}

.highlight-sunset-3 {
    box-shadow: inset  -15px 0px 10px currentColor;
}