:root {
  --is-text-color: #000000;
  --is-text-color-inverted: #ffffff;
  --is-header-text-color: #000000;
  --is-header-text-color-inverted: #ffffff;
  --is-shadow-color: var(--is-dark-gray);
  --is-highlight-color: var(--is-purple);
  --is-red: #ff0000;
  --is-green: #00ff00;
  --is-blue: #0000ff;
  --is-yellow: #ffff00;
  --is-orange: #ff8000;
  --is-purple: #8000ff;
  --is-pink: #ff0080;
  --is-white: #ffffff;
  --is-black: #000000;
  --is-gray: #808080;
  --is-dark-gray: #404040;
  --is-graident-warm-pt-1: #ff0000;
  --is-graident-warm-pt-2: #ff4000;
  --is-graident-warm-pt-3: #ff8000;
  --is-graident-warm-pt-4: #ffbf00;
  --is-graident-warm-pt-5: #ffff00;
  --is-gradient-cold-pt-1: #0033ff;
  --is-gradient-cold-pt-2: #2200ff;
  --is-gradient-cold-pt-3: #5d00ff;
  --is-gradient-cold-pt-4: #8c00ff;
  --is-gradient-cold-pt-5: #f700ff;
}

/* Generic Colors */

.red {
  background-color: var(--is-red);
  color: var(--is-text-color-inverted);
}
.blue {
  background-color: var(--is-blue);
  color: var(--is-text-color-inverted);
}
.green {
  background-color: var(--is-green) !important;
  color: var(--is-text-color);
}
.orange {
  background-color: var(--is-orange);
  color: var(--is-text-color-inverted);
}
.purple {
  background-color: var(--is-purple);
  color: var(--is-text-color-inverted);
}
.pink {
  background-color: var(--is-pink);
  color: var(--is-text-color-inverted);
}
.black {
  background-color: var(--is-black) ;
  color: var(--is-text-color-inverted) ;
}
.gray {
  background-color: var(--is-gray) ;
  color: var(--is-text-color-inverted) ;
}
.dark-gray {
  background-color: var(--is-dark-gray) ;
  color: var(--is-text-color-inverted) ;
}
.yellow {
  background-color: var(--is-yellow) ;
  color: var(--is-text-color) ;
}
.white {
  background-color: var(--is-white) ;
  color: var(--is-text-color) ;
}
 

.inner-blue > * {
  background-color: var(--is-blue) ;
  color: var(--is-text-color-inverted) ;
}
.inner-red > * {
  background-color: var(--is-red) ;
  color: var(--is-text-color-inverted) ;
}
.inner-green > * {
  background-color: var(--is-green) ;
  color: var(--is-text-color) ;
}
.inner-orange > * {
  background-color: var(--is-orange) ;
  color: var(--is-text-color-inverted) ;
}
.inner-purple > * {
  background-color: var(--is-purple) ;
  color: var(--is-text-color-inverted) ;
}
.inner-pink > * {
  background-color: var(--is-pink) ;
  color: var(--is-text-color-inverted) ;
}
.inner-black > * {
  background-color: var(--is-black) ;
  color: var(--is-text-color-inverted) ;
}
.inner-gray > * {
  background-color: var(--is-gray) ;
  color: var(--is-text-color-inverted) ;
}
.inner-dark-gray > * {
  background-color: var(--is-dark-gray) ;
  color: var(--is-text-color-inverted) ;
}
.inner-yellow > * {
  background-color: var(--is-yellow) ;
  color: var(--is-text-color) ;
}
.inner-white > * {
  background-color: var(--is-white) ;
  color: var(--is-text-color) ;
}

.gradient-lr-warm {
  background-image: linear-gradient(
    to right,
    var(--is-graident-warm-pt-1),
    var(--is-graident-warm-pt-2),
    var(--is-graident-warm-pt-3),
    var(--is-graident-warm-pt-4),
    var(--is-graident-warm-pt-5)
  );
}
.gradient-rl-warm {
  background-image: linear-gradient(
    to left,
    var(--is-graident-warm-pt-1),
    var(--is-graident-warm-pt-2),
    var(--is-graident-warm-pt-3),
    var(--is-graident-warm-pt-4),
    var(--is-graident-warm-pt-5)
  );
}
.gradient-tb-warm {
  background-image: linear-gradient(
    to top,
    var(--is-graident-warm-pt-1),
    var(--is-graident-warm-pt-2),
    var(--is-graident-warm-pt-3),
    var(--is-graident-warm-pt-4),
    var(--is-graident-warm-pt-5)
  );
}
.gradient-bt-warm {
  background-image: linear-gradient(
    to bottom,
    var(--is-graident-warm-pt-1),
    var(--is-graident-warm-pt-2),
    var(--is-graident-warm-pt-3),
    var(--is-graident-warm-pt-4),
    var(--is-graident-warm-pt-5)
  );
}

.gradient-lr-cold {
  background-image: linear-gradient(
    to right,
    var(--is-gradient-cold-pt-1),
    var(--is-gradient-cold-pt-2),
    var(--is-gradient-cold-pt-3),
    var(--is-gradient-cold-pt-4),
    var(--is-gradient-cold-pt-5)

  );
}
.gradient-rl-cold {
  background-image: linear-gradient(
    to left,
    var(--is-gradient-cold-pt-1),
    var(--is-gradient-cold-pt-2),
    var(--is-gradient-cold-pt-3),
    var(--is-gradient-cold-pt-4),
    var(--is-gradient-cold-pt-5)
  );
}
.gradient-tb-cold {
  background-image: linear-gradient(
    to top,
    var(--is-gradient-cold-pt-1),
    var(--is-gradient-cold-pt-2),
    var(--is-gradient-cold-pt-3),
    var(--is-gradient-cold-pt-4),
    var(--is-gradient-cold-pt-5)
  );
}
.gradient-bt-cold {
  background-image: linear-gradient(
    to bottom,
    var(--is-gradient-cold-pt-1),
    var(--is-gradient-cold-pt-2),
    var(--is-gradient-cold-pt-3),
    var(--is-gradient-cold-pt-4),
    var(--is-gradient-cold-pt-5)
  );
}

.gradient-lr-bw {
  background-image: linear-gradient(to right, #000000, #ffffff);
}
.gradient-rl-bw {
  background-image: linear-gradient(to left, #000000, #ffffff);
}
.gradient-tb-bw {
  background-image: linear-gradient(to top, #000000, #ffffff);
}
.gradient-bt-bw {
  background-image: linear-gradient(to bottom, #000000, #ffffff);
}

/* Photo Filters */

.grayscale {
  filter: grayscale(100%);
}
.contrast {
  filter: contrast(200%);
}
.hue-rotate {
  filter: hue-rotate(90deg);
}
.blur {
  filter: blur(5px);
}

 
/* Brighten Colors */

.brighten-1 {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.1);
}
.brighten-2 {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.2);
}
.brighten-3 {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.3);
}
.brighten-4 {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.4);
}
.brighten-5 {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.5);
}
.brighten-6 {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.6);
}
.brighten-7 {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.7);
}

/* Cascade Brightness */

.inner-brighten-1 > * {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.1);
}
.inner-brighten-2 > * {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.2);
}
.inner-brighten-3 > * {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.3);
}
.inner-brighten-4 > * {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.4);
}
.inner-brighten-5 > * {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.5);
}
.inner-brighten-6 > * {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.6);
}
.inner-brighten-7 > * {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.7);
}

/* Darken Colors*/

.darken-1 {
  box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.1);
}
.darken-2 {
  box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.2);
}
.darken-3 {
  box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.3);
}
.darken-4 {
  box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.4);
}
.darken-5 {
  box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.5);
}
.darken-6 {
  box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.6);
}
.darken-7 {
  box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.7);
}

/* Cascade Darkeness */

.inner-darken-1 > * {
  box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.1);
}
.inner-darken-2 > * {
  box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.2);
}
.inner-darken-3 > * {
  box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.3);
}
.inner-darken-4 > * {
  box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.4);
}
.inner-darken-5 > * {
  box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.5);
}
.inner-darken-6 > * {
  box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.6);
}
.inner-darken-7 > * {
  box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.7);
}
