/* Flexbox Layout System */

/* Layer things horizontally */

:is(.layer-right, .layer-center) {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
}

.layer-right::-webkit-scrollbar, .layer-center::-webkit-scrollbar { display: none; }

.layer-right  { justify-content: flex-end; }

.layer-center { justify-content: center; }

:is(.layer-right, .layer-center) > div:first-child { margin-left: inherit; }

.layer-right  > div:last-child { margin-right: inherit; }

:is(.layer-right, .layer-center) > div:not(first-child) {
    margin-left: calc(-20vh);
    transform: rotate(var(--layer-angle-1))
}

:is(.layer-right, .layer-center) > div:hover {
    transform: rotate(0deg);
    z-index: 999;
}

/* Reverse Layers */

:is(.layer, .layer-left, .layer-right-reverse, .layer-center-reverse) {
    display: flex;
    flex-flow: row-reverse nowrap;
    overflow-x: scroll;
}

.layer::-webkit-scrollbar, .layer-left::-webkit-scrollbar, .layer-right::-webkit-scrollbar, .layer-center::-webkit-scrollbar { display: none; }

.layer, .layer-left{ justify-content: flex-end; }

.layer-right-reverse  { justify-content: flex-start; }

.layer-center-reverse { justify-content: center; }

:is(.layer, .layer-left, .layer-right-reverse, .layer-center-reverse) > div:last-child { margin-left: inherit; }

.layer-right-reverse  > div:first-child { margin-right: inherit; }

:is(.layer, .layer-left, .layer-right-reverse, .layer-center-reverse) > div:not(first-child) {
    margin-left: calc(-20vh);
    transform: rotate(1deg)
}

:is( .layer, .layer-left, .layer-right-reverse, .layer-center-reverse) > div:hover {
    transform: rotate(0deg);
    z-index: 999;
}

/* Spread things horizontally */

:is(.spread, .spread-left, .spread-right, .spread-around, .spread-center, .spread-stretch, .spread-between, .c-spread > *) {
    display: flex;
    flex-flow: row wrap;
    scroll-snap-type: y mandatory;
}

:is(.spread, .spread-left, .spread-right, .spread-around, .spread-center, .spread-stretch, .spread-between) > * { flex: 1; }

.spread, .c-spread > * { justify-content: space-between; }

.spread-left { justify-content: flex-start; }

.spread-right { justify-content: flex-end; }

.spread-center {
    justify-content: center;
    align-items: center;
}

.spread-around { justify-content: space-around; }

.spread-between { justify-content: space-between; }

/*  Spread  Item Sizes */

.is-full, .c-full  > * { flex-basis: 100%; }

.is-half, .c-half  > * {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
}

.is-one-third, .c-one-third  > * {
    flex-basis: 33.33333%;
    flex-grow: 0;
    flex-shrink: 0;
}

.is-two-thirds, .c-two-thirds  > * {
    flex-basis: 66.66667%;
    flex-grow: 0;
    flex-shrink: 0;
}

.is-one-fourth, .c-one-fourth  > * {
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
}

.is-three-fourths, .c-three-fourths  > * {
    flex-basis: 75%;
    flex-grow: 0;
    flex-shrink: 0;
}

.is-one-fifth, .c-one-fifth  > * {
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
}

.is-two-fifths, .c-two-fifths  > * {
    flex-basis: 40%;
    flex-grow: 0;
    flex-shrink: 0;
}

.is-three-fifths, .c-three-fifths  > * {
    flex-basis: 60%;
    flex-grow: 0;
    flex-shrink: 0;
}

.is-four-fifths, .c-four-fifths  > * {
    flex-basis: 80%;
    flex-grow: 0;
    flex-shrink: 0;
}

/* Stack things vertically */

:is(.stack, .stack-left, .stack-center, .stack-right, .c-stack > *) {
    display:flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
}

.stack-left { align-items: baseline; }

.stack-center { align-items: center; }

.stack-right { align-items: flex-end; }

:is(.stack, .stack-left, .stack-right, .stack-center ) > * { flex: 1; }