/* Content */

:is(.content) > :is(h1, h2, h3, h4, h5, h6) { margin-top: var(--xxxlarge-text); }

/* breadcrumb */

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.breadcrumb::after {
    content: "/";
    margin: 0 0.5em;
    color: var(--is-grey);
}

.breadcrumb:last-child::after { content: ""; }

/* buttons */

button, .button {
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    color: inherit;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

/* Labels  */ 
 
.label {
    flex: 0;
    white-space: nowrap;
    display: inline-flex;
    align-items: center; 
    background-color: inherit;
    color: inherit;
}

/* Modals */

.modal { 
  position: fixed; 
  z-index: 1; 
  top: var(--modal-top);
  bottom: var(--modal-bottom);
  right: var(--modal-right);
  left: var(--modal-left);
  width: 100%; 
  height: 100%; 
  overflow-y: scroll; 
}

/* Images */

.image {
    display: block;
    height: auto;
}

.image-1x1 {
    aspect-ratio: 1 / 1;
    width: 100%;
}

.image-1x2 {
    aspect-ratio: 1 / 2;
    width: 100%;
}

.image-2x1 {
    aspect-ratio: 2 / 1;
    width: 100%;
    
}

.image-3x2 {
    aspect-ratio: 3 / 2;
    width: 100%;
}

.image-4x3 {
    aspect-ratio: 4 / 3;
    width: 100%;
}

.image-16x9 {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.anchor {
    color: var(--is-purple) !important;
    font-size: .5em;
    font-weight: 900;
    margin-left: -1ch;
    visibility: hidden;
}

h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
  visibility: visible;
}

/* Notice Utilities */

.attention {
    background-color: var(--is-attention-color);
    color: var(--is-attention-text);
}

.danger {
  background-color: var(--is-danger-color);
  color: var(--is-danger-text);
}

.info {
  background-color: var(--is-info-color);
  color: var(--is-info-text);
}

.note {
  background-color: var(--is-note-color);
  color: var(--is-note-text);
}

.success {
  background-color: var(--is-success-color);
  color: var(--is-success-text);
}

.tip {
  background-color: var(--is-tip-color);
  color: var(--is-tip-text);
}

.warning { 
  background-color: var(--is-warning-color);
  color: var(--is-warning-text);
}

/* Dropdowns */

.dropdown {
  display: inline-flex;
  position: relative;
  vertical-align: top;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-alt {
  position: relative;
  display: inline-block;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
}

.dropdown-options {
  display: none;
  position: absolute;
  z-index: 1;
  white-space: nowrap;
  top: -1px;
}

.dropdown-alt:hover .dropdown-options, .dropdown-alt:focus .dropdown-options, .dropdown-alt:active .dropdown-options, .dropdown-alt:target .dropdown-options {
  display: block;
}

/* Tables */

.tableWrapper {
  overflow-x: auto;
  max-width: 100%;
}