/* content-wrapperShifts */

/* .shift-left {
    justify-content: flex-start;
}
.shift-right {
    justify-content: flex-end;
}
.shift-center {
    justify-content: center;
}
.shift-apart {
    justify-content: space-between;
}
.shift-around {
    justify-content: space-around;
}
.shift-stretch {
    justify-content: stretch;
} */

/* Shift Inner */

.inner-center {
    align-items: center;
}

.inner-top {
    align-items: flex-start;
}

.inner-bottom {
    align-items: flex-end;
}

.inner-stretch {
    align-items: stretch;
}

.inner-baseline {
    align-items: baseline;
}

/* Text Shifts*/


.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}