/* Text Size */
.text-xxs  {
    font-size: var(--xxsmall-text);
}
.text-xs {
    font-size: var(--xsmall-text);
}
.text-s {
    font-size: var(--small-text);
}
.text-m {
    font-size: var(--medium-text);
}
.text-l {
    font-size: var(--large-text);
}
. text-xxl {
    font-size: var(--xlarge-text);
}
.text-xxl {
    font-size: var(--xxlarge-text);
}
.text-xxxl {
    font-size: var(--xxxlarge-text);
}

/* Subtitles */
.subtitle-1 {
    font-weight: 100;
    letter-spacing: 0.05em;
}
.subtitle-2 {
    font-weight: 200;
    letter-spacing: -0.03em;
}

/* Text Transformations */
.uppercase, .c-uppercase > * {
    text-transform: uppercase;
}
.lowercase, .c-lowercase > * {
    text-transform: lowercase;
}
.capitalize, .c-capitalize > * {
    text-transform: capitalize;
}

/* Text Weights */
.extra-thin, .c-extra-thin > * {
    font-weight: 100;
}
.thin, .c-thin > * {
    font-weight: 200;
}
.light, .c-light > * {
    font-weight: 300;
}
.normal, .c-normal > * {
    font-weight: 400;
}
.medium, .c-medium > * {
    font-weight: 500;
}
.semi-bold, .c-semi-bold > * {
    font-weight: 600;
}
.bold, .c-bold > * {
    font-weight: 700;
}
.extra-bold, .c-extra-bold > * {
    font-weight: 800;
}
.hefty, .c-hefty > * {
    font-weight: 900;
}

/* Text Alignment */
.text-center, .c-text-center > * {
    text-align: center;
}
.text-right, .c-text-right > * {
    text-align: right;
}
.text-left, .c-text-left > * {
    text-align: left;
}
.text-justify, .c-text-justify > * {
    text-align: justify;
}

/* Custom Fonts */

.custom-font-1 {
 font-family: var(--custom-font-1);   
}
.custom-font-2 {
 font-family: var(--custom-font-2);   
}



/* MISC */
.text-nowrap { white-space: nowrap; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.strikethrough { text-decoration: line-through; }

.word-spacing-1, .c-word-spacing-1 > * { word-spacing: 1vw; }
.word-spacing-2, .c-word-spacing-2 > * { word-spacing: 2vw; }
.word-spacing-3, .c-word-spacing-3 > * { word-spacing: 3vw; }
.word-spacing-4, .c-word-spacing-4 > * { word-spacing: 4vw; }

.break {
    word-break: break-all;
    width: .5ch;
}

.text-v-rl, .c-text-v-rl > * { writing-mode: vertical-rl; }
.text-v-lr, .c-text-v-lr > * { writing-mode: vertical-lr; }