:root {
    --xsmall-text: 0.75rem;
    --small-text: 0.8rem;
    --medium-text: 1rem;
    --large-text: 1.2rem;
    --xlarge-text: 1.4rem;
    --xxlarge-text: 1.6rem;
    --xxxlarge-text: 1.8rem;
}

.xs {
    font-size: var(--xsmall-text);
}

.s {
    font-size: var(--small-text);
}

.m {
    font-size: var(--medium-text);
}

.l {
    font-size: var(--large-text);
}

.xl {
    font-size: var(--xlarge-text);
}

.xxl {
    font-size: var(--xxlarge-text);
}

.xxxl {
    font-size: var(--xxxlarge-text);
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.thin {
    font-weight: 100;
}

.light {
    font-weight: 300;
}

.normal {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.extra-bold {
    font-weight: 800;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.line-through {
    text-decoration: line-through;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

.inner-text-center > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-text-right > * {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.inner-text-left > * {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

