
/* Animations */
.move-l:hover, .c-move-l:hover > :hover {
  animation-duration: 2s;
  animation-name: move-l;
  animation-iteration-count: infinite;
}
.move-r:hover, .c-move-r:hover > :hover {
  animation-duration: 2s;
  animation-name: move-r;
  animation-iteration-count: infinite;
}
.move-u:hover, .c-move-u:hover > :hover {
  animation-duration: 2s;
  animation-name: move-u;
  animation-iteration-count: infinite;
}
.move-d:hover, .c-move-d:hover > :hover {
  animation-duration: 2s;
  animation-name: move-d;
  animation-iteration-count: infinite;
}
 

@keyframes move-l {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-r {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-u {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move-d {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1%);
  }
  100% {
    transform: translateY(0);
  }
}

.wiggle {
  animation: wiggle 2s ease-in-out infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(.5deg);
  }
  40% {
    transform: rotate(-.5deg);
  }
  60% {
    transform: rotate(.5deg);
  }
  80% {
    transform: rotate(-.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
 
/* Stick to Top  */
.sticky-0 {
  position: sticky;
  top: 0;
}
.sticky-1 {
  position: sticky;
  top: 1vh;
}
.sticky-2 {
  position: sticky;
  top: 2vh;
}

.sticky-3 {
  position: sticky;
  top: 3vh;
}

.sticky-4 {
  position: sticky;
  top: 4vh;
}

/* Fit */
.is-fit, .c-fit > * {
  max-width: fit-content !important;
  flex: none !important;
}
.is-fit-x, .c-fit-x > * {
    max-width: fit-content !important;
}
.is-fit-y, .c-fit-y > * {
   flex: none !important;
}

/* Spread and Stack item alignment */

.pinned-center {
    align-self: center;
}
.pinned-top {
    align-self: flex-start;
}
.pinned-bottom {
    align-self: flex-end;
}

.pinned-end {
  float: right;
}

.pinned-start {
  float: left;
}

.stretched {
  display: flex;
  align-self: stretch;
}

.pinned-baseline {
    align-self: baseline;
}

.c-pinned-center {
    align-items: center;
}
.c-pinned-top {
    align-items: flex-start;
}
.c-pinned-bottom {
    align-items: flex-end;
}
.c-stretched {
    align-items: stretch;
}
.c-pinned-baseline {
    align-items: baseline;
}

/* Round the Object  */
.rounded-1, .c-rounded-1 > * {
  border-radius: var(--rounded-1) !important;
}
.rounded-2, .c-rounded-2 > * {
  border-radius: var(--rounded-2) !important;
}
.rounded-3, .c-rounded-3 > * {
  border-radius: var(--rounded-3) !important;
}
.rounded-4, .c-rounded-4 > * {
  border-radius: var(--rounded-4) !important;
}
.rounded-5, .c-rounded-5 > * {
    border-radius: var(--rounded-5) !important;
}
.rounded-6, .c-rounded-6 > * {
    border-radius: var(--rounded-6) !important;
}
.rounded-7, .c-rounded-7 > * {
    border-radius: var(--rounded-7) !important;
}


/* Outline the Object */
.outlined, .c-outlined > * {
    border: 1px solid currentColor;
}
.outlined-black, .c-outlined-black > * {
    border: 1px solid #000;
}
.outlined-white, .c-outlined-white > * {
    border: 1px solid #fff;
}

/* Scroll */

.h-scroll {
  height: 600px;
  overflow-y: scroll;
}

.noscrollbar::-webkit-scrollbar {
  display: none;
}

/* Miscellaneous */
.wrapless, .c-wrapless > * {
    white-space: nowrap;
}

/* Pattern */
.display-pattern, .c-display-pattern > * {
    background: var(--pattern-1);
}
.display-pattern2, .c-display-pattern2 > * {
    background: var(--pattern-2);
}


/* Z Index */
.level-top {
    z-index: 9999;
}
.level-bottom {
    z-index: -9999;
}

/* Cast shade */
.shadow-u-1, .c-shadow-u-1 > * {
  filter: drop-shadow(0px -4px 5px var(--is-shadow-color));
}
.shadow-u-2, .c-shadow-u-2 > * {
  filter: drop-shadow(0px -8px 10px var(--is-shadow-color));
}
.shadow-u-3, .c-shadow-u-3 > * {
  filter: drop-shadow(0px -16px 20px var(--is-shadow-color));
}
.shadow-d-1, .c-shadow-d-1 > * {
  filter: drop-shadow(0px 4px 5px var(--is-shadow-color));
}
.shadow-d-2, .c-shadow-d-2 > * {
  filter: drop-shadow(0px 8px 10px var(--is-shadow-color));
}
.shadow-d-3, .c-shadow-d-3 > * {
  filter: drop-shadow(0px 16px 20px var(--is-shadow-color));
}
.shadow-l-1, .c-shadow-l-1 > * {
  filter: drop-shadow(-4px 0px 5px var(--is-shadow-color));
}
.shadow-l-2, .c-shadow-l-2 > * {
  filter: drop-shadow(-8px 0px 10px var(--is-shadow-color));
}
.shadow-l-3, .c-shadow-l-3 > * {
  filter: drop-shadow(-16px 0px 20px var(--is-shadow-color));
}
.shadow-r-1, .c-shadow-r-1 > * {
  filter: drop-shadow(4px 0px 5px var(--is-shadow-color));
}
.shadow-r-2, .c-shadow-r-2 > * {
  filter: drop-shadow(8px 0px 10px var(--is-shadow-color));
}
.shadow-r-3, .c-shadow-r-3 > * {
  filter: drop-shadow(16px 0px 20px var(--is-shadow-color));
}
.shadow-ul-1, .c-shadow-ul-1 > * {
  filter: drop-shadow(-4px -4px 5px var(--is-shadow-color));
}
.shadow-ul-2, .c-shadow-ul-2 > * {
  filter: drop-shadow(-8px -8px 10px var(--is-shadow-color));
}
.shadow-ul-3, .c-shadow-ul-3 > * {
  filter: drop-shadow(-16px -16px 20px var(--is-shadow-color));
}
.shadow-ur-1, .c-shadow-ur-1 > * {
  filter: drop-shadow(4px -4px 5px var(--is-shadow-color));
}
.shadow-ur-2, .c-shadow-ur-2 > * {
  filter: drop-shadow(8px -8px 10px var(--is-shadow-color));
}
.shadow-ur-3, .c-shadow-ur-3 > * {
  filter: drop-shadow(16px -16px 20px var(--is-shadow-color));
}
.shadow-dr-1, .c-shadow-dr-1 > * {
  filter: drop-shadow(4px 4px 5px var(--is-shadow-color));
}
.shadow-dr-2, .c-shadow-dr-2 > * {
  filter: drop-shadow(8px 8px 10px var(--is-shadow-color));
}
.shadow-dr-3, .c-shadow-dr-3 > * {
  filter: drop-shadow(16px 16px 20px var(--is-shadow-color));
}
.shadow-dl-1, .c-shadow-dl-1 > * {
  filter: drop-shadow(-4px 4px 5px var(--is-shadow-color));
}
.shadow-dl-2, .c-shadow-dl-2 > * {
  filter: drop-shadow(-8px 8px 10px var(--is-shadow-color));
}
.shadow-dl-3, .c-shadow-dl-3 > * {
  filter: drop-shadow(-16px 16px 20px var(--is-shadow-color));
}


.is-vampire {
  filter: none !important;
}

/* Ghost & Ghouls for using spreads and stacks as color blocks*/
.ghouls-1 > * {
    max-width: var(--ghoul-1);
    max-height: var(--ghoul-1);
    height: var(--ghoul-1);
}
.ghouls-2 > * {
    max-width: var(--ghoul-2);
    max-height: var(--ghoul-2);
    height: var(--ghoul-2);
}
.ghouls-3 > * {
    max-width: var(--ghoul-3);
    max-height: var(--ghoul-3);
    height: var(--ghoul-3);
}
.ghouls-4 > * {
    max-width: var(--ghoul-4);
    max-height: var(--ghoul-4);
    height: var(--ghoul-4);
}
.ghouls-5 > * {
    max-width: var(--ghoul-5);
    max-height: var(--ghoul-5);
    height: var(--ghoul-5);
}
.ghouls-6 > * {
    max-width: var(--ghoul-6);
    max-height: var(--ghoul-6);
    height: var(--ghoul-6);
}
.ghouls-7 > * {
    max-width: var(--ghoul-7);
    max-height: var(--ghoul-7);
    height: var(--ghoul-7);
}

.ghost-1 {
    height: 1px;
}
.ghost-2 {
    height: 5px;
}
.ghost-3 {
    height: 50px;
}
.ghost-4 {
    height: 100px;
}

.is-invisible, .is-invisible:hover {
    opacity: 0;
}

.fill-h {
    height: max-content;
}

/* absolute */

.absolute {
  position: absolute;
}


