:root{
  --rounded-1: 5px;
  --rounded-2: 10px; 
  --rounded-3: 15px;
  --rounded-4: 20px;
  --rounded-5: 25px;
  --rounded-6: 30px;
  --rounded-7: 100%;
  --pattern-1: url(/images/patty.svg) repeat;
  --pattern-2: url(/images/patty.svg2) repeat;
  --ghoul-1: 10px;
  --ghoul-2: 20px;
  --ghoul-3: 30px;
  --ghoul-4: 40px;
  --ghoul-5: 50px;
  --ghoul-6: 100px;
  --ghoul-7: 200px;
}


/* Animations */
.move-l:hover {
  animation-duration: 2s;
  animation-name: move-l;
  animation-iteration-count: infinite;
}
.move-r:hover {
  animation-duration: 2s;
  animation-name: move-r;
  animation-iteration-count: infinite;
}
.move-u:hover {
  animation-duration: 2s;
  animation-name: move-u;
  animation-iteration-count: infinite;
}
.move-d:hover {
  animation-duration: 2s;
  animation-name: move-d;
  animation-iteration-count: infinite;
}
.nr-move-l:hover > :hover {
  animation-duration: 2s;
  animation-name: move-l;
  animation-iteration-count: infinite;
}
.nr-move-r:hover > :hover {
  animation-duration: 2s;
  animation-name: move-r;
  animation-iteration-count: infinite;
}
.nr-move-u:hover > :hover {
  animation-duration: 2s;
  animation-name: move-u;
  animation-iteration-count: infinite;
}

.nr-move-d:hover > :hover {
  animation-duration: 2s;
  animation-name: move-down;
  animation-iteration-count: infinite;
}

@keyframes move-l {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-r {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-u {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move-d {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Stick to Top  */
.sticky {
    position: sticky;
    top:0;
}

/* Fit */
.is-fit {
    max-width: fit-content !important;
    flex: none !important;
}
.is-fit-x {
    max-width: fit-content !important;
}
.is-fit-y {
   flex: none !important;
}

/*Cascade Fit*/
.nr-fit > * {
    max-width: fit-content;
    flex: none;
}
.nr-fit-x > * {
    max-width: fit-content;
}
.nr-fit-y > * {
    flex: none;
}

/* Spread and Stack item alignment */
.nr-pinned-center {
    align-items: center;
}
.nr-pinned-top {
    align-items: flex-start;
}
.nr-pinned-bottom {
    align-items: flex-end;
}
.nr-stretch {
    align-items: stretch;
}
.nr-pinned-baseline {
    align-items: baseline;
}

/* Round the Object  */
.rounded-1 {
    border-radius: var(--rounded-1) !important;
}
.rounded-2 {
    border-radius: var(--rounded-2) !important;
}
.rounded-3 {
    border-radius: var(--rounded-3) !important;
}
.rounded-4 {
    border-radius: var(--rounded-4) !important;
}
.rounded-5 {
    border-radius: var(--rounded-5) !important;
}
.rounded-6 {
    border-radius: var(--rounded-6) !important;
}
.rounded-7 {
    border-radius: var(--rounded-7) !important;
}

/* Cascade Inner Roundness */
.nr-rounded-1 > * {
    border-radius: var(--rounded-1);
}
.nr-rounded-2 > * {
    border-radius: var(--rounded-2);
}
.nr-rounded-3 > * {
    border-radius: var(--rounded-3);
}
.nr-rounded-4 > * {
    border-radius: var(--rounded-4);
}
.nr-rounded-5 > * {
    border-radius: var(--rounded-5);
}
.nr-rounded-6 > * {
    border-radius: var(--rounded-6);
}
.nr-rounded-7 > * {
    border-radius: var(--rounded-7);
}


/* Outline the Object */
.outlined {
    border: 1px solid currentColor;
}
.outlined-black {
    border: 1px solid #000;
}
.outlined-white {
    border: 1px solid #fff;
}
.nr-outlined > * {
    border: 1px solid currentColor;
}
.nr-outlined-black > * {
    border: 1px solid #000;
}
.nr-outlined-white > * {
    border: 1px solid #fff;
}

/* Device Settings */

/* Mobile */
@media screen and (max-width: 768px) {
    .is-hidden-mobile {
        display: none;
    }
    .is-invisible-mobile {
        visibility: hidden;
    }
    .is-fullsize-mobile {
        flex-basis: 100%;
        flex-grow: 1;
    }
    .nr-hidden-mobile > * {
        display: none;
    }
    .nr-invisible-mobile > * {
        visibility: hidden;
    }
    .nr-fullsize-mobile > * {
        flex-basis: 100%;
        flex-grow: 1;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .is-hidden-tablet {
        display: none;
    }
    .is-invisible-tablet {
        visibility: hidden;
    }
    .is-fullsize-tablet {
        flex-basis: 100%;
        flex-grow: 1;
    }
    .nr-hidden-tablet > * {
        display: none;
    }
    .nr-invisible-tablet > * {
        visibility: hidden;
    }
    .nr-fullsize-tablet > * {
        flex-basis: 100%;
        flex-grow: 1;
    }
}

/* Touch */

@media screen and (max-width: 1024px) {
    .is-hidden-touch {
        display: none;
    }
    .is-invisible-touch {
        visibility: hidden;
    }
    .is-fullsize-touch {
        flex-basis: 100%;
        flex-grow: 1;
    }
    .nr-hidden-touch > * {
        display: none;
    }
    .nr-invisible-touch > * {
        visibility: hidden;
    }
    .nr-fullsize-touch > * {
        flex-basis: 100%;
        flex-grow: 1;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .is-hidden-desktop {
        display: none;
    }
    .is-invisible-desktop {
        visibility: hidden;
    }
    .is-fullsize-desktop {
        flex-basis: 100%;
        flex-grow: 1;
    }

    .nr-hidden-desktop > * {
        display: none;
    }
    .nr-invisible-desktop > * {
        visibility: hidden;
    }
    .nr-fullsize-desktop > * {
        flex-basis: 100%;
        flex-grow: 1;
    }
}

/* Miscellaneous */
.wrapless {
    white-space: nowrap;
}

/* Pattern */
.display-pattern {
    background: var(--pattern-1);
}
.display-pattern2 {
    background: var(--pattern-2);
}

.nr-display-pattern > * {
    background: var(--pattern-1);
}
.nr-display-pattern2 > * {
    background: var(--pattern-2);
}

/* Z Index */
.level-top {
    z-index: 9999;
}
.level-bottom {
    z-index: -9999;
}

/* Cast shade */
.shadow-u-1 {
  filter: drop-shadow(0px -4px 5px var(--is-shadow-color));
}
.shadow-u-2 {
  filter: drop-shadow(0px -8px 10px var(--is-shadow-color));
}
.shadow-u-3 {
  filter: drop-shadow(0px -16px 20px var(--is-shadow-color));
}
.shadow-d-1 {
  filter: drop-shadow(0px 4px 5px var(--is-shadow-color));
}
.shadow-d-2 {
  filter: drop-shadow(0px 8px 10px var(--is-shadow-color));
}
.shadow-d-3 {
  filter: drop-shadow(0px 16px 20px var(--is-shadow-color));
}
.shadow-l-1 {
  filter: drop-shadow(-4px 0px 5px var(--is-shadow-color));
}
.shadow-l-2 {
  filter: drop-shadow(-8px 0px 10px var(--is-shadow-color));
}
.shadow-l-3 {
  filter: drop-shadow(-16px 0px 20px var(--is-shadow-color));
}
.shadow-r-1 {
  filter: drop-shadow(4px 0px 5px var(--is-shadow-color));
}
.shadow-r-2 {
  filter: drop-shadow(8px 0px 10px var(--is-shadow-color));
}
.shadow-r-3 {
  filter: drop-shadow(16px 0px 20px var(--is-shadow-color));
}
.shadow-ul-1 {
  filter: drop-shadow(-4px -4px 5px var(--is-shadow-color));
}
.shadow-ul-2 {
  filter: drop-shadow(-8px -8px 10px var(--is-shadow-color));
}
.shadow-ul-3 {
  filter: drop-shadow(-16px -16px 20px var(--is-shadow-color));
}
.shadow-ur-1 {
  filter: drop-shadow(4px -4px 5px var(--is-shadow-color));
}
.shadow-ur-2 {
  filter: drop-shadow(8px -8px 10px var(--is-shadow-color));
}
.shadow-ur-3 {
  filter: drop-shadow(16px -16px 20px var(--is-shadow-color));
}
.shadow-dr-1 {
  filter: drop-shadow(4px 4px 5px var(--is-shadow-color));
}
.shadow-dr-2 {
  filter: drop-shadow(8px 8px 10px var(--is-shadow-color));
}
.shadow-dr-3 {
  filter: drop-shadow(16px 16px 20px var(--is-shadow-color));
}
.shadow-dl-1 {
  filter: drop-shadow(-4px 4px 5px var(--is-shadow-color));
}
.shadow-dl-2 {
  filter: drop-shadow(-8px 8px 10px var(--is-shadow-color));
}
.shadow-dl-3 {
  filter: drop-shadow(-16px 16px 20px var(--is-shadow-color));
}

/* Cascade shadow Casting */
.nr-shadow-u-1 > * { 
  filter: drop-shadow(0px -4px 5px var(--is-shadow-color));
} 
.nr-shadow-u-2 > * { 
  filter: drop-shadow(0px -8px 10px var(--is-shadow-color));
}
.nr-shadow-u-3 > * { 
  filter: drop-shadow(0px -16px 20px var(--is-shadow-color));
}
.nr-shadow-d-1 > * { 
  filter: drop-shadow(0px 4px 5px var(--is-shadow-color));
}
.nr-shadow-d-2 > * { 
  filter: drop-shadow(0px 8px 10px var(--is-shadow-color));
}
.nr-shadow-d-3 > * { 
  filter: drop-shadow(0px 16px 20px var(--is-shadow-color));
}
.nr-shadow-l-1 > * { 
  filter: drop-shadow(-4px 0px 5px var(--is-shadow-color));
}
.nr-shadow-l-2 > * { 
  filter: drop-shadow(-8px 0px 10px var(--is-shadow-color));
}
.nr-shadow-l-3 > * { 
  filter: drop-shadow(-16px 0px 20px var(--is-shadow-color));
}
.nr-shadow-r-1 > * { 
  filter: drop-shadow(4px 0px 5px var(--is-shadow-color));
}
.nr-shadow-r-2 > * { 
  filter: drop-shadow(8px 0px 10px var(--is-shadow-color));
}
.nr-shadow-r-3 > * { 
  filter: drop-shadow(16px 0px 20px var(--is-shadow-color));
}
.nr-shadow-ul-1 > * { 
  filter: drop-shadow(-4px -4px 5px var(--is-shadow-color));
}
.nr-shadow-ul-2 > * { 
  filter: drop-shadow(-8px -8px 10px var(--is-shadow-color));
}
.nr-shadow-ul-3 > * { 
  filter: drop-shadow(-16px -16px 20px var(--is-shadow-color));
}
.nr-shadow-ur-1 > * { 
  filter: drop-shadow(4px -4px 5px var(--is-shadow-color));
}
.nr-shadow-ur-2 > * { 
  filter: drop-shadow(8px -8px 10px var(--is-shadow-color));
}
.nr-shadow-ur-3 > * { 
  filter: drop-shadow(16px -16px 20px var(--is-shadow-color));
}
.nr-shadow-dr-1 > * { 
  filter: drop-shadow(4px 4px 5px var(--is-shadow-color));
}
.nr-shadow-dr-2 > * { 
  filter: drop-shadow(8px 8px 10px var(--is-shadow-color));
}
.nr-shadow-dr-3 > * { 
  filter: drop-shadow(16px 16px 20px var(--is-shadow-color));
}
.nr-shadow-dl-1 > * { 
  filter: drop-shadow(-4px 4px 5px var(--is-shadow-color));
}
.nr-shadow-dl-2 > * { 
  filter: drop-shadow(-8px 8px 10px var(--is-shadow-color));
}
.nr-shadow-dl-3 > * { 
  filter: drop-shadow(-16px 16px 20px var(--is-shadow-color));
}

.is-vampire {
  filter: none !important;
}

/* Ghost & Ghouls for using spreads and stacks as color blocks*/
.ghouls-1 > * {
    max-width: var(--ghoul-1);
    max-height: var(--ghoul-1);
    height: var(--ghoul-1);
}
.ghouls-2 > * {
    max-width: var(--ghoul-2);
    max-height: var(--ghoul-2);
    height: var(--ghoul-2);
}
.ghouls-3 > * {
    max-width: var(--ghoul-3);
    max-height: var(--ghoul-3);
    height: var(--ghoul-3);
}
.ghouls-4 > * {
    max-width: var(--ghoul-4);
    max-height: var(--ghoul-4);
    height: var(--ghoul-4);
}
.ghouls-5 > * {
    max-width: var(--ghoul-5);
    max-height: var(--ghoul-5);
    height: var(--ghoul-5);
}
.ghouls-6 > * {
    max-width: var(--ghoul-6);
    max-height: var(--ghoul-6);
    height: var(--ghoul-6);
}
.ghouls-7 > * {
    max-width: var(--ghoul-7);
    max-height: var(--ghoul-7);
    height: var(--ghoul-7);
}

.ghost-1 {
    height: 1px;
}
.ghost-2 {
    height: 5px;
}
.ghost-3 {
    height: 50px;
}
.ghost-4 {
    height: 100px;
}