<section class="spread-center inner-pinned-top inner-fit inner-rounded-1">
    <div class=" white pt-1 pb-2 px-1 m-3"> 
        <img src="https://via.placeholder.com/100" class="">
        <p class="l text-center pb-2 px-1 m-3"> 1x1</p>
    </div>
    <div class=" white pt-1 pb-2 px-1 m-3"> 
        <img src="https://via.placeholder.com/200x100" class="">
        <p class="l text-center pb-2 px-1 m-3"> 2x1</p>
    </div>
    <div class=" white pt-1 pb-2 px-1 m-3"> 
        <img src="https://via.placeholder.com/150x100" class="">
        <p class="l text-center pb-2 px-1 m-3"> 3x2</p>
    </div>
    <div class=" white pt-1 pb-2 px-1 m-3"> 
        <img src="https://via.placeholder.com/75x100" class="">
        <p class="l text-center pb-2 px-1 m-3"> 3x4</p>
    </div>
    <div class=" white pt-1 pb-2 px-1 m-3"> 
        <img src="https://via.placeholder.com/80x100" class="">
        <p class="l text-center pb-2 px-1 m-3"> 4x5</p>
    </div>
</section>