    <section class="spread-left inner-m-1 inner-p-1 inner-rounded-2 inner-outlined ">
        <div class="label red thin"> this is a label</div>
        <div class="label red light"> this is a label</div>
        <div class="label red normal"> this is a label</div>
        <div class="label red medium"> this is a label</div>
        <div class="label red semi-bold"> this is a label</div>
        <div class="label red bold "> this is a label</div>
        <div class="label red extra-bold "> this is a label</div>
    </section>