<div class="spread-left">
    {{range .Pages}}
    <div class="stack is-half is-fullsize-mobile">
            <a href="{{ .RelPermalink }}" class="outlined-white text-center m-1 p-1 c-mt-1">

                <h2>{{.Title}}</h2>
                {{if .Params.beta}}
                    <div class="label text-xxs purple uppercase ">Experimental</div>
                    {{else}}
                    <div class="label text-xxs is-invisible uppercase">Placeholder</div>
                {{end}}
                <p class="text-justify"> {{if .Description}} {{.Description}} {{else}}{{.Summary | truncate 200}} {{end}}</p>

        </a>
    </div>
    {{end}}
</div>