<!DOCTYPE html>
<html class="black">
    {{- partial "head.html" . -}}
    <body class="stack">
        {{ partial "header.html" . }}
        {{ partial "navs/left-clear.html" . }}
        <section class="spread">
            {{ partial "directories/directory-left.html" . }}
            <div class="is-four-fifths fullsize-mobile">
                <article class="black p-4 mt-5">
                    {{ block "main" . }}{{ end }}
                </article>
            </div>
        </section>
        {{ partial "footer.html" . }}
    </body>
</html>


