

{{define "main" }}
    <section class="spread">
        <aside id="tree" class="stack inner-flexless is-hidden-mobile pt-0 px-4">
            <a href="" class=""> link one </a>
            <a href="" class="">  two </a>
            <a href="" class=""> link three </a>
        </aside>
        <div class="is-four-fifths fullsize-mobile">
            <article class="content-wrapper white p-4">
                <section class="spread-right">
                    <div class="button red is-fit l px-3 py-2 m-2 rounded-8 ghost-3 "></div>
                    <div class="button gray is-fit l px-3 py-2 m-2 rounded-8 ghost-3 "></div>
                    <div class="button green is-fit l px-3 py-2 m-2 rounded-8 ghost-3 "></div>
                </section>
                {{ .Content}}
            </article>
        </div>
    </section>
{{ end }}
