{{define "main" }}
    <section class="spread">
        <aside id="tree" class="stack inner-flexless is-hidden-mobile">
            <div class="sticky stack pt-5 m-1"> 
           {{range .Site.Pages}}
                <a href="{{ .Permalink }}" class="button brighten-3 s rounded m-1 p-1 is-fit"> {{ .Title }} </a>
            {{end}}
            </div>
        </aside>
        <div class="is-four-fifths is-fullsize-mobile">
            <article class="content-wrapper white p-4 mt-5">
                <section class="spread-right">
                    <div class="button red is-fit l px-3 py-2 m-2 rounded-8 ghost-3 "></div>
                    <div class="button gray is-fit l px-3 py-2 m-2 rounded-8 ghost-3 "></div>
                    <div class="button green is-fit l px-3 py-2 m-2 rounded-8 ghost-3 "></div>
                </section>
                {{ .Content}}
            </article>
        </div>
    </section>
{{ end }}