    <section class="stack red pb-7">
        <div class="m-7 p-7 text-center">
            <h1> Hello, World!</h1>
            <p> Lorem ipsump </p>
        </div>
        <div class="spread">
            <div class="is-one-third">
                <div class="white m-1 p-1"> hello</div> 
            </div>
            <div class="is-one-third">
                <div class="white m-1 p-1"> hello</div> 
            </div>
            <div class="is-one-third">
                <div class="white m-1 p-1"> hello</div> 
            </div>
        </div>
        <div class="m-7 p-7">
            <h1> Hello, World!</h1>
            <p> Lorem ipsump </p>
        </div>
        <div class="spread shift-left">
            <div class="is-one-third">
                <div class="white m-1 p-1"> hello</div> 
            </div>
            <div class="is-one-third">
                <div class="white m-1 p-1"> hello</div> 
            </div>
        </div>
        <div class="m-7 p-7 text-right">
            <h1> Hello, World!</h1>
            <p> Lorem ipsump </p>
        </div>
                <div class="spread shift-right">
            <div class="is-one-third">
                <div class="white m-1 p-1"> hello</div> 
            </div>
            <div class="is-one-third">
                <div class="white m-1 p-1"> hello</div> 
            </div>
        </div>
    </section>