<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="stack black">
        <nav  class="black sticky">
            <section class="spread-center inner-pinned-center">
                <img src="/images/logo.svg" class="is-fit">
                <section class="is-fit inner-m-1 inner-p-2 inner-rounded-7">
                    <button class="button is-outlined xs"> one</button>
                    <button class="button xs purple "> two</button>
                    <button class="button xs purple "> three</button>
                    <button class="button xs purple "> four</button>
                </section>
            </section>
        </nav>
 
   
        <section class="spread-center inner-pinned-top inner-is-fit inner-rounded-1">
            <div class="content-wrapper white pt-1 pb-2 px-1 m-3"> 
                <img src="https://via.placeholder.com/100" class="">
                <p class="l text-center pb-2 px-1 m-3"> 1x1</p>
            </div>
            <div class="content-wrapper white pt-1 pb-2 px-1 m-3"> 
                <img src="https://via.placeholder.com/200x100" class="">
                <p class="l text-center pb-2 px-1 m-3"> 2x1</p>
            </div>
            <div class="content-wrapper white pt-1 pb-2 px-1 m-3"> 
                <img src="https://via.placeholder.com/150x100" class="">
                <p class="l text-center pb-2 px-1 m-3"> 3x2</p>
            </div>
            <div class="content-wrapper white pt-1 pb-2 px-1 m-3"> 
                <img src="https://via.placeholder.com/75x100" class="">
                <p class="l text-center pb-2 px-1 m-3"> 3x4</p>
            </div>
            <div class="content-wrapper white pt-1 pb-2 px-1 m-3"> 
                <img src="https://via.placeholder.com/80x100" class="">
                <p class="l text-center pb-2 px-1 m-3"> 4x5</p>
            </div>



        </section>



        <nav id="breadcrumbs" class="breadcrumbs p-1 m-1" aria-label="breadcrumbs">
            <div class="is-one-fifth is-hidden-mobile"> </div>
            <div class="breadcrumb"> <a href="" class=" p-1">one</a> </div>
            <div class="breadcrumb "> <a href="" class=" p-1">two</a> </div>
            <div class="breadcrumb "> <a href="" class=" p-1">three</a> </div>
        </nav>
        <section class="spread">
           <aside id="tree" class="stack inner-flexless is-hidden-mobile pt-0 px-4">
                <a href="" class=""> link one </a>
                <a href="" class="">  two </a>
                <a href="" class=""> link three </a>
            </aside>
            <div class="is-four-fifths fullsize-mobile">
                <article class="content-wrapper white p-7">
                    {{ .Content}}
                </article>
            </div>
        </section>
    </body>
</html>

