{{ define "before" }}

<section class="stack-center mt-6 mx-2 inner-p-1 inner-m-1 text-center">
    <h1>Another CSS framework <br> you probably don't need.</h1> 
    <p class="subtitle-1 m"> With cascading, trait-based semantic utilities for standardizable flexilbity. </p>
    <div class="inner-m-1 inner-p-2 inner-rounded-1 s">
        <a class="button brighten-1" href="/spreads"> Get Started</a>
        <a class="button gradient-lr-cold shadow-u-1" href="/css/emdash.css" download> Download </a>
    </div>
</section>
<section class="stack-left mt-6 mx-4 inner-p-1 inner-m-1">
    <h2>Use <b class="shadow-u-1">Stacks</b>  <br> for vertical layouts.</h2> 
    <p class="subtitle-1 m"> Stack 'em left, right, and center. It's a breeze.</p>
</section>
<section class="stack-right mt-6 mx-4 inner-p-1 inner-m-1 text-right">
    <h2>Use <b class="shadow-u-1">Spreads</b> <br>for horizontal layouts.</h2> 
    <p class="subtitle-1 m"> Like butter, but digital.</p>
</section>
<section class="spread inner-pinned-bottom  mt-6 inner-fullsize-mobile inner-m-2 inner-p-2 inner-rounded-2 text-center">
    <div class="is-full inner-m-1 mb-3"> 
        <h2>It's called <br> <b class="shadow-u-1">Emdash</b></h2>
        <p class="subtitle-1 m"> It's simple and responsive (unlike me). </p>
    </div>
    <div class="display-pattern grayscale">
        <div class="white m-1 p-2 rounded-1"> 
            <h3>Flexbox who?</h3>
            <p class="text-left"> Flexbox is powerful, but confusing. If you're tired of looking up the various ways a flexbox container orients its items, this framework was made for you. </p>
        </div>
     </div>
     <div class="display-pattern">
        <div class="white m-1 p-2 rounded-1"> 
            <h3>C is for <b>cascading</b></h3>
            <p class="text-left"> Use <code>inner-</code> helpers to cascade margin, padding, outlines, shadows, and other traits. I mean, why keep repeating yourself?</p>
        </div>
     </div>
     <div class="display-pattern grayscale">
        <div class="white m-1 p-2 rounded-1">
        <h3>Built-in legibility</h3>
        <p class="text-left">Color classes consider legibility by default -- meaning you'll rarely need to define text-colors. Even for darkmode. 
        </div>
     </div>

</section>
<section class="spread inner-pinned-top inner-fullsize-mobile inner-m-2 inner-p-2 inner-rounded-2 text-center">
    <div class="display-pattern grayscale">
        <div class="white m-1 p-2 rounded-1"> 
            <h3>Style-less</h3>
            <p class="text-left"> There's no opinionated set style for labels, links, buttons, breadcrumbs -- or anything else. Instead, layer on global traits to get the look you want. All padding and margins are defaulted to 0. </p>
        </div>
     </div>
     <div class="display-pattern">
        <div class=" white m-1 p-2 rounded-1">
        <h3>Customizable at its <b>:root</b></h3>
        <p class="text-left"> Don't like the spacing values? Have an opinion on <code>em</code>, <code>rem</code>,<code>vh</code>,<code>vw</code>, or <code>px</code>? Want to define your own color pallete? Cool. Just change the root variables -- the rest takes care of itself. 
        </div>
     </div>
</section>
<section class="spread inner-pinned-top inner-fullsize-mobile inner-m-2 inner-p-2 inner-rounded-2 text-center">
    <div class="display-pattern">
        <div class="white m-1 p-2 rounded-1"> 
            <h3><b>Bold</b>, redefined</h3>
            <p class="text-left"> If <strong>strong</strong> is the new Bold, where does that leave Bold? Our answer: Bold is the fun and easy way to apply gradients to your text. You can even pass in other gradient classes to override the default. </p>
        </div>
     </div>
     <div class="display-pattern grayscale">
        <div class="white m-1 p-2 rounded-1"> 
            <h3>39kb Soaking Wet</h3>
            <p class="text-left"> Today, Emdash CSS is <strong>30kb minified</strong> and <strong>39kb uncompressed</strong>. That's almost 6x smaller than alternatives hovering around 235kb</strong>. </p>
        </div>
     </div>
     <div class="display-pattern grayscale">
        <div class="white m-1 p-2 rounded-1"> 
            <h3>Free</h3>
            <p class="text-left"> Emdash is open source and available on <strong>GitHub</strong>. </p>
        </div>
     </div>
</section>

{{ end }}


