<section class="spread-center">
    <pre class="brighten-3 rounded-2"><code class="text-left">
&lt;section class="stack-center mt-6 mx-2 inner-p-1 inner-m-1 text-center"&gt;
    &lt;h1&gt;Another CSS framework &lt;br&gt; you probably don't need&lt;/h1&gt; 
    &lt;p class="subtitle-1"&gt; With trait-based semantics for added clarity.&lt;/p&gt;
    &lt;div class="inner-m-1 inner-p-2 inner-rounded-1 m"&gt;
        &lt;a class="button brighten-1" href="/spreads"&gt; Get Started&lt;/a&gt;
        &lt;a class="button gradient-lr-cold shadow-u-1"&gt; Download &lt;/a&gt;
    &lt;/div&gt;
    &lt;/section&gt;

&lt;section class="stack-left mt-6 mx-4 inner-p-1 inner-m-1"&gt;
    &lt;h2&gt;Use &lt;b class="shadow-u-1"&gt;Stacks&lt;/b&gt;  &lt;br&gt; for landing pages&lt;/h2&gt; 
    &lt;p class="subtitle-1"&gt; Stack 'em left, right, and center. It's a breeze.&lt;/p&gt;
&lt;/section&gt;

&lt;section class="stack-right mt-6 mx-4 inner-p-1 inner-m-1 text-right"&gt;
    &lt;h2&gt;Use &lt;b class="shadow-u-1"&gt;Spreads&lt;/b&gt; &lt;br&gt;for complex layouts&lt;/h2&gt; 
    &lt;p class="subtitle-1"&gt; The next set of elements you'll see are in a Spread.&lt;/p&gt;
&lt;/section&gt;

&lt;section class="spread mt-6 inner-fullsize-mobile inner-m-2 inner-p-2 inner-rounded-2 text-center"&gt;
    &lt;div class="white"&gt;
        &lt;h3&gt;Flexbox&lt;/h3&gt;
        &lt;p class="text-left"&gt; Is powerful, but confusing. If you're tired of trying to figure out container flex directions vs item alignments vs item justifications, this framework is for you.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="white"&gt;
        &lt;h3&gt;C is for Cascade&lt;/h3&gt;
        &lt;p class="text-left"&gt; Use &lt;code&gt;inner-&lt;/code&gt; helpers to cascade margin, padding, outlines, shadows, and other traits in a clean, standardized fashion.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="white"&gt;
        &lt;h3&gt;Pre-paired Colors&lt;/h3&gt;
        &lt;p class="text-left"&gt;Emdash color classes consider both background &lt;i&gt;and&lt;/i&gt; font colors together, for legibility. Don't love the defaults? Updating the &lt;code&gt;:root&lt;/code&gt; variables takes seconds.&lt;/p&gt;
    &lt;/div&gt;
&lt;/section&gt;
</code></pre>
</section>