<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    {{ $core := resources.Get "css/core.css" }}
    {{ $layout := resources.Get "css/layout.css" }}
    {{ $objects := resources.Get "css/objects.css"  }}
    {{ $traits := resources.Get "css/traits.css"  }}
    {{ $spacing := resources.Get "css/spacing.css"  }}
    {{ $text := resources.Get "css/text.css"  }}
    {{ $color := resources.Get "css/color.css"  }}


    {{ $css := slice $core $layout $objects $traits $spacing $text $color | resources.Concat "css/emdash.css"}}
    {{$cssPublic := $css}}
    {{ $cssMin := $css | resources.Minify }}
    {{ $secureCSS := $cssMin | resources.Fingerprint "sha512"}}
    
    <link rel="stylesheet" href="{{ $secureCSS.Permalink }}" media="screen" />
    <link rel="stylesheet" href="{{ $cssPublic.Permalink }}" media="print" />
    <link rel="stylesheet" href="{{ $cssMin.Permalink }}" media="print" />


</head>