<section class="spread">
    <div class="is-half is-fullsize-mobile darken-3"></div>
    <div class="is-half is-fullsize-mobile"> 
        <div class="brighten-1 py-7 nr-mr-3 text-right">
            <h1 class=""> Data to enrich <br> your online business</h1>
            <h2 class="subtitle-2 mt-4 mb-4"> Unlimited API calls. Lossless data. Integrations galore.</h2>
            <section class="spread-right nr-fit nr-m-1 nr-p-2 nr-rounded-1">
                    <button class="button m outlined "> Get Started </button>
                    <button class="button m darken-3"> Live Demo</button>
            </section>
        </div>
    </div>
</section>