<nav id="nav-compact-spread" class="spread black sticky">
    <section class="is-one-fifth">
        <img src="/images/logo.svg">
    </section>
    <section id="buttons" class="">
        <button class="button rounded-7  xs purple my-3 mx-1 p-2"> one</button>
        <button class="button rounded-7  xs purple my-3 mx-1 p-2"> two</button>
        <button class="button rounded-7  xs purple my-3 mx-1 p-2"> three</button>
        <button class="button rounded-7  xs purple my-3 mx-1 p-2"> four</button>
        <button class="button rounded-7  xs purple my-3 mx-1 p-2"> five</button>
        <button class="button rounded-7  xs purple my-3 mx-1 p-2"> six</button>
        <button class="button rounded-7  xs purple my-3 mx-1 p-2"> seven</button>
        <button class="button rounded-7  xs purple my-3 mx-1 p-2"> eight</button>
    </section>
</nav>