<nav  class="sticky">
    <section class="spread-center brighten-1 inner-pinned-center">
        <img src="/images/logo.svg" class="is-fit grayscale">
        <section class="is-fit  inner-my-1 inner-p-3 inner-rounded-1 inner-darken-3">
            <button class="button xs"> one</button>
            <button class="button xs "> two</button>
            <button class="button xs "> three</button>
            <button class="button xs "> four</button>
            <button class="button xs "> five</button>
            <button class="button xs "> six</button>
            <button class="button xs "> seven</button>
            <button class="button xs "> eight</button>
        </section>
    </section>
</nav>