<nav  class="sticky-0">
    <section class="spread-center brighten-1 c-pinned-center">
        <img src="/images/logo.svg" class="is-fit grayscale">
        <section class="is-fit  c-my-1 c-p-z c-rounded-1 c-darken-3">
            <button class="button xs"> one</button>
            <button class="button text-xs "> two</button>
            <button class="button text-xs "> three</button>
            <button class="button text-xs "> four</button>
            <button class="button text-xs "> five</button>
            <button class="button text-xs "> six</button>
            <button class="button text-xs "> seven</button>
            <button class="button text-xs "> eight</button>
        </section>
    </section>
</nav>