<nav  class="spread-left sticky-0 level-top c-pinned-center brighten-1">
    <div class="is-one-fifth is-hidden-computer">
        <a href="/"><img src="/images/logo.svg" class="grayscale" style="height:40px"></a>
    </div>
    <div class="is-one-fifth is-hidden-touch">
        <a href="/"><img src="/images/logo.svg" class="grayscale"></a>
    </div>

   
    <section class="is-hidden-computer">
        <div class="spread-left c-pinned-center c-brighten-2 c-ml-1 c-p-1 c-rounded-4 c-fit thin">
            {{range .Site.Sections}}
            <a class="button xxs" href="{{.Permalink}}">{{.Title}}</a>
            {{end}}
        </div>
    </section>
</nav>