<nav  class="spread sticky-0 brighten-1">
        <section class="is-one-third"> 
            <img src="/images/logo.svg" class="is-fit grayscale">
        </section>
        <section class="is-one-third is-hidden-mobile">
            <div class="spread-center c-fit  c-m-1 c-p-2 c-rounded-1 c-darken-3">
                <button class="button xs"> one</button>
                <button class="button text-xs "> two</button>
                <button class="button text-xs "> three</button>
            </div>
        </section>
        <section class="is-one-third"> 
            <div class="spread-right c-fit c-m-1 c-p-2 c-rounded-1 ">
                <button class="button text-xs black "> Login</button>
            </div>
        </section>
</nav>