<nav  class="spread sticky brighten-1">
        <section class="is-one-third"> 
            <img src="/images/logo.svg" class="is-fit grayscale">
        </section>
        <section class="is-one-third is-hidden-mobile">
            <div class="spread-center inner-fit  inner-m-1 inner-p-2 inner-rounded-1 inner-darken-3">
                <button class="button xs"> one</button>
                <button class="button xs "> two</button>
                <button class="button xs "> three</button>
            </div>
        </section>
        <section class="is-one-third"> 
            <div class="spread-right inner-fit inner-m-1 inner-p-2 inner-rounded-1 ">
                <button class="button xs black "> Login</button>
            </div>
        </section>
</nav>